*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  body{
    width:100vw;
    height:100vh;
    font-family:'Helvetica';
    font-size:10px;
    font-weight:500;
    color:#fff;
    background-color:#3073f9;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .flex--{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  /* .wrapper-div{
    height:25rem;
    width:15rem;
    transition:transform 300ms linear;
    position:relative;
    perspective:100rem;
     backdrop-filter:blur(0.6rem)
  } */
  
  body::before,body::after{
    content:"";
    position:absolute;
    border-radius:50%;
    z-index:-1;
  }
  
  body::before{
    left:-10%;
    top:-10%;
    width:70%;
    height:70%;
    background-image:linear-gradient(#4769ff,#7acafb);
  }
  
  body::after{
    left:50%;
    top:60%;
    width:40%;
    height:40%;
    background-image:linear-gradient(#40aef7,#48edf9);
  }
  .wrapper-div:hover{
    transform:scale(1.1);
  }
  
  .ui-card{
    position:relative;
    height:50%;
    width:50%;
    background-color:rgba(255,255,255,0.1);
    backdrop-filter:blur(12px);
    border-left:1px solid rgba(255, 255, 255, 0.5);
    border-top:1px solid rgba(255,255,255,0.5);
    border-right:1px solid rgba(255,255,255,0.2);
    border-bottom:1px solid rgba(255,255,255,0.2);
    border-radius:0.7rem;
    perspective:100rem;
    transform:rotateX(0deg)  rotateY(0deg);
    transform-style:preserve-3d;
    transition:transform 300ms ease-in-out;
    /* backdrop-filter:blur(1rem); */
  }
  
  .title-head--{
    font-size:3rem;
    padding:2em;
    margin:2em;
    perspective:100rem;
    transform:translateZ(20rem);
  }
  
  /* .tilt-orientation--{
    position:absolute;
    height:10%;
    width:10%;
    
    z-index:1;
    top:0;
    left:0;
  } */
  
  /* .tilt-orientation--:nth-child(2){left:33.33%;}
  .tilt-orientation--:nth-child(3){left:66.66%;}
  .tilt-orientation--:nth-child(4){top:33.3%;}
  .tilt-orientation--:nth-child(5){top:33.33%;left:33.33%;}
  .tilt-orientation--:nth-child(6){top:33.33%;left:66.66%;}
  .tilt-orientation--:nth-child(7){left:0;top:66.66%;}
  .tilt-orientation--:nth-child(8){left:33.33%;top:66.66%;}
  .tilt-orientation--:nth-child(9){left:66.66%;top:66.66%;}
  
  .tilt-orientation--:nth-child(1):hover ~.ui-card{transform:rotateX(-10deg) rotateY(10deg);}
  .tilt-orientation--:nth-child(2):hover ~.ui-card{transform:rotateX(-15deg) rotateY(-15deg);}
  .tilt-orientation--:nth-child(3):hover ~.ui-card{transform:rotateX(-10deg) rotateY(-10deg);}
  .tilt-orientation--:nth-child(4):hover ~.ui-card{transform:rotateX(5deg) rotateY(10deg);}
  .tilt-orientation--:nth-child(5):hover ~.ui-card{transform:rotateX(2deg) rotate(-2deg);}
  .tilt-orientation--:nth-child(6):hover ~.ui-card{transform:rotateX(-10deg) rotateY(-5deg);}
  .tilt-orientation--:nth-child(7):hover ~.ui-card{transform:rotateX(-10deg) rotateY(-10deg);}
  .tilt-orientation--:nth-child(8):hover ~.ui-card{transform:rotateX(-5deg) rotateY(5deg);}
  .tilt-orientation--:nth-child(9):hover ~.ui-card{transform:rotateX(10deg) rotateY(-10deg);} */