
:root{
  --primary-color: #1469fd;
  --secondary-color: #49a6fe;
}

*{
    box-sizing: border-box;
}

body {
  background: #dfdfdf;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", serif;
}

.container {
  margin-top: 50px;
  height: auto; /* Ajusta la altura según sea necesario */
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img {
  max-width: 60%;
}

.cards-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 80px;
  padding-bottom: 60px;
}

/* FLIP CARD */
.card-rotating {
  width: 300px;
  height: 300px;
  perspective: 2000px;
  outline: none;
}

.card-rotating-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  transition: transform 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13); /* Solo 'transform' */
  transform-style: preserve-3d;
}

.card-rotating-front,
.card-rotating-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  backface-visibility: hidden;
  
}

.card-rotating-front {
  background-color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Efecto visual de hover y focus en la parte front */
.card-rotating-front:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  transform: scale(1.05) rotateZ(1.7deg); /* Combine las transformaciones */
}


.card-rotating-front:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card-rotating-back {
  font-size: 1.25rem;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 32px;
  transform: rotateY(180deg);
  background-color: white;
}

/* Clase agregada para el volteo */
.card-rotating-inner.is-flipped {
  transform: rotateY(-180deg);
}

.btn-primary {
  border: none;
  margin: 10px;
  font-size: 1rem;
  width: 100px;
  height: 50px;
  padding: 2px 5px;
  background-color: var(--secondary-color);
  color: #ffffff;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.15s ease-in, transform 0.2s ease-in; /* Reducir transiciones */
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  transform: scale(1.08); /* Sólo transformaciones, sin box-shadow */

  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.btn-primary:focus {
  box-shadow: 0 0 1px 5px rgba(8, 124, 212, 0.307), 0 0 0 1px rgba(21, 69, 210, 0.862);
  background-color: #ffffff;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  transform: scale(0.95);
}



.container-progress {
  width: 80%; /* Ajusta el ancho según sea necesario */
  max-width: 600px; /* Ancho máximo para las barras */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Ajusta el padding según sea necesario */
}

.progress-line {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%; /* Asegúrate de que el contenedor tenga un ancho del 100% */
}

.progress-text-left,
.progress-text-right {
  width: 80px; /* Ajusta el ancho según tu diseño */
  text-align: center;
  font-size: 0.9rem;
}

.barra-container {
  flex: 1;
  height: 10px; /* Altura de la barra */
  background: #eee; /* Color de fondo */
  border-radius: 5px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.barra {
  height: 100%;
  width: 0%; /* Inicia en 0% */
  background: #49a6fe; /* Color de la barra */
  border-radius: 5px;
  transition: width 0.3s ease;
}

/* Los valores numéricos se ocultan visualmente */
#velocidadValor, #pesoValor, #esperanzaValor {
  visibility: hidden;
}